/*body
{
	background: url("../img/img.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}*/


#espacioblanco
{
	width: 100% ;
	margin-top: 0px;
	margin-bottom: 10px;
}

#central
{
	margin-bottom: 0 ;
	width: 100% ;
	height: 100vh ; /*500px*/
	background-color: gray ;
}


.principal{
	color: white;
}

.jumbotron{
	margin-top: 100px;
	background-color: rgba(0,0,0,.7);
}

li {
	color: black;
}